---
layout: default
title: Main Page
---

<section id="employment">
    <h2 class="section-title">Employment</h2>
    <ol class="section-content">
    {% for item in site.data.employment %}
        <li>
            <h3 class="item-title">
                <a href="{{ item.link }}" target="_blank">{{ item.organisation }}</a>
            </h3>
            <h4 class="item-subtitle">{{ item.title }}, {{ item.startDate }}&ndash;{{ item.endDate }}</h4>
            {% for para in item.description %}
                <p>{{ para }}</p>
            {% endfor %}
        </li>
    {% endfor %}
    </ol>
</section>

<section id="freelance">
    <h2 class="section-title">Freelance</h2>
    <ol class="section-content">
    {% for item in site.data.freelance %}
        <li>
            <h3 class="item-title">
                <a href="{{ item.link }}" target="_blank">{{ item.organisation }}</a>
            </h3>
            {% for para in item.description %}
                <p>{{ para }}</p>
            {% endfor %}
        </li>
    {% endfor %}
    </ol>
</section>

<section id="education">
    <h2 class="section-title">Education</h2>
    <ol class="section-content">
    {% for item in site.data.education %}
        <li>
            <h3 class="item-title" itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                <a href="{{ item.link }}" target="_blank" itemprop="name">{{ item.organisation }}</a>
            </h3>
            <h4 class="item-subtitle">{{ item.course }} ({{ item.result }}), {{ item.startDate }}&ndash;{{ item.endDate }}</h4>
        </li>
    {% endfor %}
    </ol>
</section>
