---
layout: default
title: Roger Hutchings - CV
---

    <body itemscope itemtype="http://schema.org/Person">

        <header id="header" role="banner">
            <h1 id="site-title" itemprop="name">Roger Hutchings</h1>
            <nav id="site-navigation" role="navigation">
                <a href="#personal-statement">Personal Statement</a>
                <a href="#achievements">Achievements</a>
                <a href="#timeline">Timeline</a>
            </nav>
        </header>

        <main id="main" role="main">

            <section id="personal-statement">
                <h2 class="section-title js-section-title">Personal Statement</h2>
                <div class="section-content js-section-content">
                    <p>After originally studying Japanese and working for several years at a Tokyo newspaper, I developed a passion for delivering content on the web, primarily in front end development. This lead me to do a Master's degree focussed on web technologies, take a role back in the UK involving a more technical aspect, and take on growing portfolio of freelance work in order to broaden my skill set. I am now seeking a challenging development role in order to use and develop these skills.</p>
                </div>
            </section>

            <section id="achievements">
                <h2 class="section-title js-section-title">Achievements</h2>
                <div class="section-content js-section-content">
                    achievements
                </div>
            </section>

            <section id="employment">
                <h2 class="section-title js-section-title">Employment</h2>
                <ol class="js-section-content">
                {% for item in site.data.employment %}
                    <li class="job">
                        <h4 class="title">{{ item.title }}</h4>
                        <h4 class="organisation">{{ item.organisation }}</h4>
                        <h4 class="dates">{{ item.startDate }}&ndash;{{ item.endDate }}</h4>
                        {% if item.description %}{{ item.description }}{% endif %}
                    </li>
                {% endfor %}
                </ol>
            </section>

            <section id="education-history">
                <h2 class="section-title js-section-title">Education</h2>
                <ol class="js-section-content">
                {% for item in site.data.education %}
                    <li class="education">
                        <h4 class="organisation">{{ item.organisation }}</h4>
                        <h4 class="course">{{ item.course }}</h4>
                        <h4 class="dates">{{ item.startDate }}&ndash;{{ item.endDate }}</h4>
                        {% if item.description %}{{ item.description }}{% endif %}
                    </li>
                {% endfor %}
                </ol>
            </section>

        </main>

        <footer id="footer" role="contentinfo">
            &copy; Roger Hutchings, 2014.
            Published under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
            <a href="{{ site.repo }}">View the code on GitHub</a>.
        </footer>

    </body>
