body
    font:
        family: 'Cardo', serif
        size: ms(0)
    @include font-smoothing('antialiased')
    line-height: 1.4
    color: $black
    background: $white

.container
    padding: ms(1)
    @include bp($bp-tablets)
        max-width: 33em
        margin: 0 auto
