p At Incuna, I primarily built apps for major pharmaceutical brands such as GlaxoSmithKline and Janssen. One of these apps, the Risk Factor Calculator for Astellas Pharma Europe, <a href="https://pmsociety.org.uk/awards/digital/2016/results/mobile-apps">won the Gold award at the PM Society's 2016 Digital Awards</a>.

p I also created several Backbone-driven sales apps for the iPad, a process I later streamlined by building a custom Yeoman generator for new projects. I also worked on several responsive single page apps using Angular and D3 to produce dynamic data visualisations, and the front end for a number of Django websites.
