p I lead the development of <a href="https://anno.tate.org.uk/" target="_blank">AnnoTate</a>, a web application enabling the collaborative transcription of works in the Tate Museums' archives. This uses a custom Rails REST API for the back-end and data aggregation, Angular, Stylus and Gulp. The code is <a href="https://github.com/zooniverse/AnnoTate">available on GitHub</a>.

p I also contribute to other scientific projects, working directly with clients including Cancer Research UK and the Meterological Office. As part of this, I won a £50,000 research grant to study building citizen science projects on Facebook.

p My role also involves interviewing developer candidates, project management and scheduling, and mentoring newer developers.
