p I was lead developer on <a href="https://anno.tate.org.uk/" target="_blank">AnnoTate</a>, a crowdsourced transcription app developed for the Tate Museum. This project <a href="http://mw2016.museumsandtheweb.com/glami-winners/" target="_blank">won the Platinum GLAMi award</a> at the 2016 Museums and the Web conference, and was also the basis for a second transcription project, <a href="https://www.shakespearesworld.org/" target="_blank">Shakespeare's World</a>, for the Folger Shakespeare Library.

p Other projects I have worked on include <a href="http://www.oldweather.org/" target="_blank">Old Weather</a>, with the Meterological Office, <a href="https://www.cellslider.net/" target="_blank">Cell Slider</a> (now complete) with Cancer Research UK, and <a href="https://www.zooniverse.org" target="_blank">the main Zooniverse platform</a>.

p All of my work is open source and <a href="https://www.github.com/zooniverse" target="_blank">available on GitHub</a>, and I have delivered production apps using technologies including React, Redux, Angular, ES6, Stylus and AWS. I also pitched for and won a £50,000 research grant to study building citizen science projects on the Facebook Canvas platform.

p Aside from writing code, I have managed project teams, interviewed developer candidates, advised in project management and scheduling, and mentored newer developers.
