p I led the development of <a href="https://anno.tate.org.uk/" target="_blank">AnnoTate</a>, a web application enabling the collaborative transcription of works in the Tate Museums' archives. This uses a custom Rails REST API for the back-end and data aggregation, Angular, Stylus and Gulp. The code is <a href="https://github.com/zooniverse/AnnoTate">available on GitHub</a>.

p I also contributed significantly to two other transcription projects: <a href="http://www.shakespearesworld.org/" target="_blank">Shakespeare's World</a>, in connection with the Folger Shakespeare Library, and <a href="http://www.oldweather.org/" target="_blank">Old Weather</a>, with the Meterological Office. Additionally, through my work on these projects I won a £50,000 research grant to study building citizen science projects on Facebook.

p My role also involves managing a team of two, interviewing developer candidates, project management and scheduling, and mentoring newer developers.
