p I lead the development of 
    a(href="#") AnnoTate
    , a web application enabling the collaborative transcription of works in the Tate Museums' archives. This uses a custom Rails REST API for the back end and data aggregation, Angular, Stylus and Gulp. The code is 
    a(href="#") available on GitHub.

p I also contribute to other scientific projects, working directly with clients including Cancer Research UK and the Meterological Office. I also interview candidates for developer roles, and have mentored newer developers.
