.cv-title

    > h1,
    > h2
        font-weight: 400
        text-align: center

    > h2
        font-style: italic

    > .github
        -webkit-filter: drop-shadow(1px 1px 1px #ccc)
        background: none
        display: block
        filter: drop-shadow(1px 1px 1px #ccc)
        margin: 0 auto
        padding: 0
        text-align: center

    > .github > svg
        display: inline-block
        height: 30px
        width: auto

    > .github:hover > svg
        fill: $accent
