body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

h1
    margin-bottom: 0
    margin-top: 48px

h2
    margin-top: ($line-height-computed / 2)

h4
    font-style: italic
    font-weight: 400

p
    margin-bottom: 18px
    line-height: 30px

a
    border-radius: 4px
    padding: 3px 4px

a:link,
a:visited
    color: $text-color
    background-color: $grey
    text-decoration: none

a:hover,
a:active
    background-color: $text-color
    color: $white
    text-decoration: none
