[role="main"],
[role="contentinfo"]

    section
        margin-bottom: ms(6)

    .section-title
        margin-bottom: ms(2)
        font:
            size: ms(2)
            weight: bold

    ol li
        margin-bottom: ms(2)

    a
        display: inline-block
        &:link,
        &:visited
            padding: 4px
            color: $black
            text-decoration: none
            background-color: #eaeaea
            border-radius: 4px
        &:active,
        &:hover
            // Originally used transitions, but they make things feel slow.
            color: $white
            background: $black

    p
        text-align: justify

    .item-title
        font-weight: bold
        margin-bottom: ms(-5)

    .item-subtitle
        margin-bottom: ms(0)
        font-style: italic
